<html>
  <head>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <script src="jquery-1.3.2.min.js"></script>
  </head>
  <body>
    <img src="/images/nibles.png"/>
    <%= yield %>
  </body>
</html>