
<div id="drag"></div>

<div id="bookmarkletContainer">
  <a id="bookmarklet" href="javascript:(function(){<%= bookmarklet_script(@dropname) %>})();">my NIBL.ES</a>
  <a id="rename" href="#" onclick="this.style.display='none';document.getElementById('bookmarkText').style.display='block';return false;">rename</a>
  <input style="display:none;" id="bookmarkText" value="my NIBL.ES" onkeyup="document.getElementById('bookmarklet').innerHTML = this.value"/>
</div>
