<form action='/' method='post'><input type='submit' value='create a NIBL bookmarklet'/></form>
<a href='http://getfirefox.com'><img src='/images/firefox.png' style="position:fixed;bottom:0px;right:0px;border-width:0px;"/></a>